$font-arial: 'Arial', sans-serif;
$font-lato: 'Lato', sans-serif;

* {
  box-sizing: border-box;
}

button, a {
  cursor: pointer;
}

.page {
  min-width: 1258px;
  height: 100vh;
  padding: 32px 0;
  font-family: $font-arial;
  background-color: $main-bg;

  &__inner {
    padding: 20px 36px;
    background-color: $white;
  }
}

.container {
  max-width: 1258px;
  min-width: 980px;
  margin: 0 auto;
  padding: 0 15px;
}

.checkbox {
  display: inline-flex;
  cursor: pointer;

  &.active {
    .checkbox__view {
      background-color: $green;
      border-color: $green;

      .icon {
        opacity: 1;
      }
    }
  }

  &__input {
    display: none;
  }

  .icon {
    opacity: 0;
    transition: opacity 0.5s;
  }

  &__view {
    position: relative;
    display: block;
    min-width: 16px;
    height: 16px;
    border: 1px solid $light-grey;
    background-color: $white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s, border-color 0.5s;
  }
}

.range {
  display: flex;
  justify-content: center;
  align-items: center;

  &-line {
    position: relative;
    width: 64px;
    height: 4px;
    margin: 0 10px;
    border-bottom: 4px solid transparent;
    background-color: $light-grey;

    &__position {
      position: absolute;
      top: -2px;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: $dark-grey;
    }
  }

  &__amount {
    font-size: 10px;
    line-height: 12px;
    color: $dark-grey;
  }
}
