$main-bg: #F2F4F7;
$white: #fff;
$black: #000;
$grey: #555;
$dark-grey: #757575;
$light-grey: #DBDBDB;
$red: #C9392C;
$dark-red: #E32B30;
$light-red: #FF1A00;
$green: #0A7B44;
$dark-green: #3D5F12;
$light-green: #9ACE49;
$yellow: #EFA818;
$blue: #2867DB;
