.select {
  position: relative;
  display: inline-flex;
  cursor: pointer;

  &__control {
    position: relative;
    z-index: 1;
    padding-right: 22px;
    border: none;
    font-family: $font-lato;
    font-size: 24px;
    color: $black;
    font-weight: 700;
    line-height: 30px;
    appearance: none;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    transition: color 0.5s;

    &.active,
    &:hover {
      color: $dark-grey;

      + .icon {
        color: $dark-grey;
      }
    }
  }

  .icon {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    color: $black;
    transition: color 0.5s;
  }

  option {
    font-size: 5px;
  }
}
